<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HedgehogDevelopment.Razl.Service.Configuration" type="HedgehogDevelopment.Razl.Service.ServiceConfiguration, HedgehogDevelopment.Razl.Service" />
  </configSections>
  <HedgehogDevelopment.Razl.Service.Configuration accessGuid="f7dca987-8dda-4ab8-8357-1c9d4e1d7a77" />
   <system.web>
     <httpHandlers>
        <add verb="*" path="RazlStream.axd" validate="false" type="HedgehogDevelopment.Razl.Service.StreamingHandler, HedgehogDevelopment.Razl.Service"/>
     </httpHandlers>
   </system.web>	
  <system.webServer>
     <handlers>
        <add name="RazlStream" verb="*" path="RazlStream.axd"  type="HedgehogDevelopment.Razl.Service.StreamingHandler, HedgehogDevelopment.Razl.Service"/>
    </handlers>
 </system.webServer>
</configuration>
